    <!--<div class="loader"></div>-->
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/flickity.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/typed.min.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/ytplayer.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/granim.min.js"></script>
    <script src="/js/jquery.steps.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/clipboard.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/main.js"></script>

    <!-- 100% privacy-first analytics -->
    <script async defer defer data-collect-dnt="true" src="https://t.hypr.social/latest.js"></script>
    <noscript><img src="https://t.hypr.social/noscript.gif" alt="Stats" referrerpolicy="no-referrer-when-downgrade" /></noscript>
