<footer class="footer-7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <img alt="Image" class="logo" src="/img/logo-light.png">
                    <p class="type--fine-print">Take your link in bio to <i>Hyprspeed</i>!</p>
                </div>
            </div>
            <div class="col-md-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/hyprsocialapp">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com/hyprsocial">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com/hyprsocial">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://tiktok.com/hyprsocial">
                            <i class="socicon socicon-tiktok icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
        <!-- <div class="row">
            <div class="col-md-6">
                <p class="type--fine-print">
                    Supercharge your web workflow
                </p>
            </div>
            <div class="col-md-6 text-right text-center-xs">
                <span class="type--fine-print">©<span class="update-year">2023</span> Hypr Social.</span>
                <a class="type--fine-print" href="/privacy-policy">Privacy Policy</a>
                <a class="type--fine-print" href="/terms">Legal</a>
            </div>
        </div>-->
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
