<!doctype html>
<html lang="en">
<head>
    <title>Index ⋅ Furry Garden</title>
    <meta name="description" content="Farmers Market customer onboarding">
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="robots" content="noindex, nofollow" />

    {{template "partials/head-css" .}}
</head>

<body>
<div class="nav-container login">

    <div class="main-container">

        <section class="height-100 imagebg text-center" data-overlay="4">

            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-7 col-lg-5">
                        <form action="/onboard" method="POST">
                            <h1 class="h3">Index</h1>
                            <p>This is where all the fields are.</p>

                            {{if .Message}}
                            <div class="alert bg--success">
                                <div class="alert__body">
                                    <span>{{.Message}}</span>
                                </div>
                            </div>
                            {{end}}

                            {{if .ErrorMessage}}
                            <div class="alert bg--error">
                                <div class="alert__body">
                                    <span>{{.ErrorMessage}}</span>
                                </div>
                            </div>
                            {{end}}

                            <label for="first_name">First Name:</label>
                            <input type="text" name="first_name" id="first_name" value="{{.CustomerDetails.FirstName}}" /><br/>

                            <label for="last_name">Last Name:</label>
                            <input type="text" name="last_name" id="last_name" value="{{.CustomerDetails.LastName}}" /><br/>

                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" value="{{.CustomerDetails.Email}}" /><br/>

                            <label for="dog_name">Dog Name:</label>
                            <input type="text" name="dog_name" id="dog_name" value="{{.CustomerDetails.DogName}}" /><br/>

                            <label for="dog_breed">Dog Breed:</label>
                            <input type="text" name="dog_breed" id="dog_breed" value="{{.CustomerDetails.DogBreed}}" /><br/>

                            <label for="dog_age">Dog Age:</label>
                            <input type="number" name="dog_age" id="dog_age" value="{{.CustomerDetails.DogAge}}" /><br/>

                            <label for="dog_weight">Weight (lbs):</label>
                            <input type="number" name="dog_weight" id="dog_weight" value="{{.CustomerDetails.DogWeight}}" /><br/>

                            <label for="dog_health_conditions">Health Condition(s):</label>
                            <input type="text" name="dog_health_conditions" id="dog_health_conditions" value="{{.CustomerDetails.DogHealthConditions}}" /><br/>

                            <br/><br/>
                            <button>Next Page</button>

                        </form>

                    </div>

                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>
</div>
{{template "partials/body-end" .}}
</body>
</html>
