<footer class="footer-7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <img alt="Image" class="logo" src="/img/logo-light.png">
                    <p class="type--fine-print">Take your link in bio to <i>Hyprspeed</i>!</p>
                </div>
            </div>
            <div class="col-md-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/furrygarden">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
